@model DataAccess.Entities.Product

@{
    Layout = "Products/_Layout";
}


<div>
    <h4>Product</h4>
    <hr />
    <img alt="image product" src="@Model.Image" width="320px" height="100%"/>
    <div class="form-group col-md-6">
        <label asp-for="Name" class="control-label">Tên</label>
        <input asp-for="Name" class="form-control" disabled />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Price" class="control-label">Giá</label>
        <input asp-for="Price" class="form-control" disabled />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Producer.Name" class="control-label">Nhà cung cấp</label>
        <input asp-for="Producer.Name" class="form-control" disabled />
        <span asp-validation-for="Producer.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Category.Name" class="control-label">Danh mục</label>
        <input asp-for="Category.Name" class="form-control" disabled />
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Description" class="control-label">Mô tả</label>
        <input asp-for="Description" class="form-control" disabled />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Detail" class="control-label">Mô tả chi tiết</label>
        <input asp-for="Detail" class="form-control" disabled />
        <span asp-validation-for="Detail" class="text-danger"></span>
    </div>
    <div class="form-row col-md-6">
            <div class="form-group col-md-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block">Edit</a>
            </div>
            <div class="form-group col-md-4">
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-block">Delete</a>
            </div>
            <div class="form-group col-md-4">
                <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
            </div>
    </div>
</div>