@model DataAccess.Entities.Producer

@{
    Layout = "Producers/_Layout";
}
<h4>Producer</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @{
            if (ViewBag.Status == Utils.Status.Success)
            {
                <div class="alert alert-success" role="alert">Thành công</div>
            }
            else if (ViewBag.Status == Utils.Status.Failed)
            {
                <div class="alert alert-danger" role="alert">Thất bại</div>
            }
        }
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group col-md-6">
                        <label asp-for="Name" class="control-label">Nhà cung cấp</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-row col-md-6">
                        <div class="form-group col-md-6">
                            <input type="submit" value="Save" class="btn btn-primary btn-block" />
                        </div>
                        <div class="form-group col-md-6">
                            <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                        </div>
                    </div>
                </form>
    </div>
</div>
